<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href={% block stylesheet %}{% endblock stylesheet %}>

    <!--Arbutus Font-->
    <link href='https://fonts.googleapis.com/css?family=Arbutus' rel='stylesheet'>

    {% block extralink %}{% endblock extralink %}
    

</head>

<body>
    {% load static %}

<!--Navbar-->
<nav title="Navbar" class="navbar fixed-top navbar-expand-lg navbar-light ">
    <div class="container-fluid">
        <!--Toggle Button-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!--Unordered list-->
            <ul class="navbar-nav me-auto mb-auto mb-lg-auto">
                <li class="nav-item">
                    <a class="nav-link mt-1" style="font-size: 1.5rem;" aria-current="page"
                        href="/customizations">Customization</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mt-1" style="font-size: 1.5rem;" aria-current="page"
                        href="/watches">Watches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mt-1" style="font-size: 1.5rem;" aria-current="page"
                        href="/customer">Customer Care</a>
                </li>
            </ul>
            <a class="navbar-brand brand d-flex justify-content-center" href='/'><img
                    src="{% static 'logo.png' %}" alt="Logo" /></a>

            
            {% if user.is_authenticated%}
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Welcome {{request.user}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
              </li>
            </ul>    

            {% else %}
            <!--Login-->
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#LoginModal">
                Login
            </button>

            <!--Sign Up-->
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#SignupModal">
                Sign Up
            </button>
            {%endif%}
        </div>
        <i class="fa fa-duotone fa-cart-plus" style="font-size:3rem;"></i>
        
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="LoginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header text-dark bg1">
                    <h5 class="modal-title" id="LoginModalLabel">Login</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-dark bg1">
                    <!--Form-->
                    <form action="login/" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Username</label>
                            <input type="text" name="login_username" class="form-control" id="login_username">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" name="login_password" class="form-control" id="login_password">
                        </div>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
                    </form>
                </div>
                <div class="modal-footer text-dark bg1">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="SignupModal" tabindex="-1" aria-labelledby="SignupModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-dark bg1">
                    <h5 class="modal-title" id="SignupModalLabel">Sign Up</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-dark bg1">
                    <form action="signUp/" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">First Name
                                </label>
                            <input type="text" class="form-control" id="first_name" name="first_name"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Last Name
                                </label>
                            <input type="text" class="form-control" id="last_name" name="last_name"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Username
                                </label>
                            <input type="text" class="form-control" id="username" name="username"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email
                                address</label>
                            <input type="email" class="form-control" id="email" name="email"
                                aria-describedby="emailHelp">
                            <div id="emailHelp2" class="form-text">We'll never share your email
                                with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Confirm
                                Password</label>
                            <input type="password" class="form-control" id="cpass" name="cpass">
                        </div>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
                    </form>
                </div>
                <div class="modal-footer text-dark bg1">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    </div>

    {% block body %}{% endblock body %}

     <!--FOOTER-->

    <!--Main div-->
    <div class="main">
        <div class="share">
            <br><br>
            <p>SHARE THIS PAGE</p>
            <!--Icons-->
            <div class="icons">
                <button type="button" class="btn btn-outline-success" title="Share this page on Facebook New tab"><i
                        class="fab fa-facebook-f"></i></button>
                <button type="button" class="btn btn-outline-success" title="Share this page on Twitter New tab"><i
                        class="fab fa-twitter"></i></button>
                <button type="button" class="btn btn-outline-success" title="Share this page on Pinterest New tab"><i
                        class="fab fa-pinterest-p"></i></button>
                <button type="button" class="btn btn-outline-success" title="Share this page on Linkedin New tab"><i
                        class="fab fa-linkedin-in"></i></button>
                <button type="button" class="btn btn-outline-success" title="Share this page on Email New tab"><i
                        class="fa fa-envelope"></i></button>
                <button type="button" class="btn btn-outline-success" title="View more social networks"><i
                        class="fas fa-ellipsis-h"></i></button>
                <br><br><br>
            </div>
        </div>

        <div class="footer">
            <div class="links">
                <br>
                <p>Footer <br> Features | About | Testimonials | Contact Us <br><br> Links to all pages, Landing Page,
                    Customer Care, Social Media Handles and much more</p>
            </div>
            <!--Footer-->
            <footer>
                <br>
                <i class="far fa-copyright"> Copyright 2021</i>
            </footer>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

    {% block js %}{% endblock js %}

</body>


</html>