{% extends 'basic.html' %}

{% load static %}

{% block stylesheet %}{% static 'kronos_watches_page.css' %}{% endblock stylesheet %}

{% block title %}index{% endblock title %}

{% block body %}

<video autoplay muted loop id="myVideo">
    <source src="{% static 'video.mp4' %}" type="video/mp4">
</video>

    <!--CARDS-->
    <div class="container smort px-4 py-5" id="hanging-icons">


        {% for cat,range1,range2,product in allProds %}
        
        <center>
            <h2 class="pb-2 border-bottom ">{{cat}}</h2>
        </center>
        
        <div class="album py-5 bg-light">
            <div class="container">

                    {% comment %} {%for j in range1%} {% endcomment %}
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        
                        {%for k in product%}
                        {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
                        </div>
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        {%endif%}
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="/{{k.image}}">

                                <div class="container card-body d-flex justify-content-between align-items-center ">
                                    <div class="group">
                                        <p class="card-text">
                                            
                                        <h5 id="{{k}}">{{k}}</h5>{{k.tagline}}</p>
                                    </div>
                                    <div>
                                        <b><span style="font-size: 25px; padding-top: 12px;" id="{{k}}price">{{k.price}}</span>$</b>

                                    </div>
                                    <div>
                                        <span id="divpr{{k}}" class="divpr" >
                                        <a href="#" id="{{k}}" class="cart">
                                            <i class="fa fa-duotone fa-cart-plus"
                                                style="font-size:2rem; align-items: flex-end; color: black;"></i></a>
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
            {% comment %} {% endfor %} {% endcomment %}
        {% endfor %}
                    
        <center>
            <h2>Filter</h2>
        </center>
        <div class="container d-flex justify-content-center">
            <button style="background-color: gold;" onclick="filter2()" class="btn">$200-$300</button>
            <button style="background-color: gold;" onclick="filter1()" class="btn">$100-$200</button>
            <button style="background-color: gold;" onclick="filter3()" class="btn">$250-$350</button>
            <button style="background-color: gold;" onclick="filter4()" class="btn">$300-$400</button>
            <button style="background-color: gold;" onclick="filter5()" class="btn">$400-$650</button>
        </div>
        <br />
        <div class="container d-flex justify-content-center">
            <p id="disp"></p>
        </div>
    </div>

<script src="{% static 'watches.js' %}" ></script>

{% endblock body %} 

{% block js %}
<script>
if (localStorage.getItem('cart') == null) {
    var cart = {};
} 
else {
    cart = JSON.parse(localStorage.getItem('cart'));
    updateCart(cart);


    
}
// If the add to cart button is clicked, add/increment the item
//$('.cart').click(function() {
$('.divpr').on('click', 'a.cart', function() {
    var idstr = this.id.toString();
    if (cart[idstr] != undefined) {
        qty = cart[idstr][0] + 1;
        cart[idstr][0] = qty

    } else {
        qty = 1;
        name = document.getElementById(idstr).innerHTML
        price = document.getElementById(idstr+'price').innerHTML
        cart[idstr] = [qty, name, parseInt(price)];

    }
    updateCart(cart);

    
    alert("Item successfully added to your cart!")
   
});

function updateCart(cart) {
    var sum = 0;
    for (var item in cart) {
        sum = sum + cart[item][0];
    }
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = sum;
    console.log(cart);
}
</script>

{%endblock%}